Repository rconc016/CEN4010-TeamProject, pull requests merged in 2018-10, with the labels that each got.

#47 Added book browsing page
  .gitignore
  api/src/AspNetCoreDemoApp/Models/Book.cs
  web/angular.json
  web/package-lock.json
  web/package.json
  web/src/app/app.component.html
  web/src/app/app.module.ts
  web/src/app/app.routes.ts
  web/src/assets/img/top-seller.png
  web/src/components/book/book.component.css
  web/src/components/book/book.component.html
  web/src/components/book/book.component.ts
  web/src/components/book/book.interface.ts
  web/src/components/book/book.model.ts
  web/src/components/book/book.resolver.ts
  web/src/components/navbar/navbar.component.css
  web/src/components/navbar/navbar.component.html
  web/src/components/navbar/navbar.component.spec.ts
  web/src/components/navbar/navbar.component.ts
  web/src/services/book/book.service.ts
  web/src/styles.css
Labels: book browsing, enhancement, front-end

#51 Added sorting UI to the book browsing page
  web/src/components/book/book.component.css
  web/src/components/book/book.component.html
  web/src/components/book/book.component.ts
  web/src/components/book/book.resolver.ts
  web/src/components/book/booksortingoption.model.ts
Labels: book browsing, enhancement, front-end

#50 Andres chavez
  api/src/AspNetCoreDemoApp/Models/User.cs
  web/src/app/app.module.ts
  web/src/assets/forms.css
  web/src/components/core/user.model.ts
  web/src/components/core/user.service.ts
  web/src/components/register/register.component.ts
  web/src/components/user/user.component.html
  web/src/components/user/user.component.ts
  web/src/index.html
Labels: enhancement, front-end, profile management

#52 Bug Fix: Observable not found
  web/src/components/core/user.service.ts
Labels: bug, front-end, profile management

#53 Added pagination to book browsing page
  web/package.json
  web/src/app/app.module.ts
  web/src/components/book/book.component.html
  web/src/components/book/book.component.ts
  web/src/components/book/book.resolver.ts
  web/src/services/book/book.service.ts
Labels: book browsing, enhancement, front-end

#54 Added filtering to book browsing page
  web/src/common/enums/topsellerstatus.ts
  web/src/common/services/command/command.service.ts
  web/src/components/book/book.component.css
  web/src/components/book/book.component.html
  web/src/components/book/book.component.ts
Labels: book browsing, enhancement, front-end

#55 Added book details to browsing page grid
  web/src/app/app.module.ts
  web/src/app/material.module.ts
  web/src/components/book/book.component.css
  web/src/components/book/book.component.html
  web/src/styles.css
Labels: book browsing, enhancement, front-end
